.mover{       
    animation: movimiento 6s linear infinite;
}
.mover:nth-child(1){   
    animation-duration: 9s;
   
}
.mover:nth-child(2){   
    animation-duration: 12s;
    
}
.mover:nth-child(3){   
    animation-duration: 20s;
    
}
.mover:nth-child(4){   
    animation-duration: 6s;
    
}
.mover:nth-child(5){   
    animation-duration: 15s;
    
}

.bg-cero{
  background-image: url(https://i.pinimg.com/originals/fe/2a/28/fe2a2894650f46e66992d5ba32ebadcf.jpg);
}

.snap-x {
  scroll-snap-type: x mandatory;
  
scroll-behavior: smooth;
-webkit-overflow-scrolling: touch;
}
.snap-start {
scroll-snap-align: start;
}
/*slider*/
.active{
  left: 0 !important;
  transition: all 1s;
}
.resaltado{
  background-color: rgb(27, 26, 26);
  transition: background-color .8s;
}
.efecto-text{  
  position: relative;
}
.efecto-text:after{
  content: "";
  border-left: 3px solid gray;
  width: 0%; 
  height: 60%;
  
  position: absolute ;
  right: 0; 
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));;
  animation: escribir 3s infinite alternate steps(14);  
  
}
@keyframes escribir{
  form{
    width: 0%;
  }
  to{
    width: 100%;
  }
}



@keyframes movimiento {
    0%, 100% {
      transform: translateY(0px) rotate(0deg);
     
    }
    50% {
      transform: translateY(30px) rotate(360deg);      
  }
}

  .pulse {  
    animation: pulse 2s infinite;
  }
  .pulse:hover {
    animation: none;
  }
 
  @keyframes pulse {
    0% {
      
      box-shadow: 0 0 0 0 rgba(56, 54, 46, 0.4);
    }
    50% {
        
        box-shadow: 0 0 0 20px rgba(204,169,44, 0);
    }
    100% {
        
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
}



